body {
  background-color: #92a8d1;
  background-image: url("lights.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-gap: 50px 50px;
  grid-template-columns: auto auto auto auto ;
  padding: 10px;
}
.items{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
